@import './variables'
@import './fonts'

::selection
    background: $color-highlight
    color: $color-accent

::root
    --tw-opacity: 1

html
    font-size: 62.5%

body
    background-color: $color-background
    background-image: url('/static/assets/img/texture.png')
    color: $color-text
    font-family: $font-family
    margin: 0
    padding: 0
    font-size: 1.6rem

*, *::before, *::after
    box-sizing: border-box

h1, h2, h3, h4, h5, h6
    margin: 0
    font-weight: 400
    font-family: $font-family-heading
    color: $color-text-solid

h1
    font-size: 3.6rem

h2
    font-size: 2.8rem

    &.question
        font-size: 2.2rem

p
    margin: 0
    font-size: 1.8rem
    color: $color-text-secondary

a
    color: $color-text
    text-decoration: none

.wrapper
    width: 100%

.container
    width: 75%
    margin: 0 auto
    position: relative

.spacer
    margin: 18rem 0

footer
    height: 30rem
    width: 100%
    background: rgba(0,0,0,0.3)

.color
    height: 100rem
    width: 100rem
    position: absolute
    transform: translate(-50%, -50%)

span.gradient-blue
    --tw-opacity: 1
    background: $gradient-green-blue
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

span.gradient-purple-yellow
    --tw-opacity: 1
    background: $gradient-purple-yellow
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

///////// NAV ////////////

nav
    width: 100%
    position: absolute
    height: 8rem
    display: flex
    z-index: 999
    justify-content: flex-end
    transition: all .2s ease

    &.filled
        background: $color-background
        border-bottom: 1px solid grey

    & > ul
        list-style: none
        padding: 0
        margin: 0
        display: flex
        align-items: center

        & > li
            display: inline-flex
            font-size: 1.6rem
            margin-right: 6.8rem
            position: relative
            line-height: 1.6

            a, span
                cursor: pointer
                transition: all .2s ease
            & a:hover
                color: $color-text
            & span:hover
                color: $color-text

                [name="chevron-down-outline"]
                    color: $color-accent

            span
                display: table-cell
                vertical-align: middle

                [name="chevron-down-outline"]
                    // color: $color-accent
                    font-size: 1.2rem
                    margin-left: .6rem
                    transition: all .2s ease

            .submenu
                z-index: 999
                position: absolute
                top: 6rem
                background: $color-text-solid
                list-style: none
                padding: 2rem 2.8rem
                display: flex
                flex-direction: column
                border-radius: 3px
                overflow: hidden
                clip-path: inset(0 0 100% 0)
                transition: all .5s ease

                &.open
                    clip-path: inset(0 0 0 0)

                li
                    white-space: nowrap
                    &:not(:last-child)
                        margin-bottom: 1.6rem
                    a
                        color: $color-background
                        transition: all .2s ease
                        &:hover
                            color: $color-accent

///////// WIKI ////////////

.hero
    color: $color-text
    height: 70vh
    // margin-top: calc(4rem + 1em)
    position: relative
    overflow: hidden

    &-inner
        width: 100%
        height: 140%
        z-index: 1
        background-image: url("/static/assets/img/DSC_0845.JPG")
        background-size: cover
        background-position: 50% 30%

        &::after
            content: ''
            z-index: 2
            position: absolute
            background: rgba(0,0,0,0.5)
            width: 100%
            height: 100%

    .text
        position: absolute
        transform: translate(-50%, -50%)
        top: 50%
        text-align: center
        left: 50%
        z-index: 3
        h1
            font-size: 4.8rem

.img-bg
    position: absolute
    pointer-events: none
    user-select: none
    z-index: -20

    &-ultrawide
        top: -58vh
        left: calc(75vw - 200vh)
        max-width: 275vh
        height: auto
        width: 300vw

.landing-hero
    height: 100vh
    display: flex
    position: relative

    .text

        h1
            font-weight: 700
            font-size: 7.2rem

            .gradient-anim-fill
                background: $gradient-blue-anim
                background-size: 300%
                letter-spacing: -5px
                text-transform: uppercase
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                animation: animated_text 10s ease-in-out infinite
                -moz-animation: animated_text 10s ease-in-out infinite
                -webkit-animation: animated_text 10s ease-in-out infinite

        h4
            color: $color-text
            font-family: $font-family
            font-size: 2rem

.animation-wrapper
    margin: 14rem 0
    .container
        width: calc(100% * 2 / 3)
        &.cols
            display: flex
            height: 80vh

            .content
                &-box
                    display: flex
                    align-items: center
                    flex: 1

                    p
                        font-size: 2.4rem
                        line-height: 2
                        transform: translateY(5rem)
                        transition: all .2s ease
                        opacity: 0

                        &.is-inview
                            opacity: 1
                            transform: translateY(0)

                &-anim
                    display: flex
                    flex: 1
                    justify-content: flex-end
                    align-items: center

                    .drawing
                        height: 40vh
                        transform: translateY(5rem)
                        transition: all .2s ease
                        position: relative
                        opacity: 0

                        &-inner
                            height: 100%

                        &.is-inview
                            opacity: 1
                            transform: translateY(0)

.content
    display: flex

    &-inner
        flex: 8.5

    .sidebar
        flex: 1.5
        padding-left: 12rem
        &-inner
            padding: 14rem 0

        span
            color: $color-text-secondary
            text-transform: uppercase
            font-weight: 700
            font-size: 1.2rem
            letter-spacing: 2px
            display: block
            margin-bottom: 1.8rem

        ul
            list-style: none
            margin: 0
            padding: 0
            li
                font-size: 1.6rem
                margin-bottom: 1.4rem

                a
                    cursor: pointer
                    transition: all .2s ease
                    &:hover
                        color: $color-accent

.project
    margin: 14rem 0

    .header
        width: 100%
        display: flex
        justify-content: space-between
        align-items: flex-end

        h1
            line-height: 1em

        & > *
            opacity: 0
            transform: rotate(1.5deg) translateY(5rem)
            transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
            &.is-inview
                opacity: 1
                transform: none

        span
            text-transform: uppercase
            font-size: 1.8rem
            letter-spacing: .2rem
            transition-delay: .2s

    .divider
        height: .2rem
        width: 100%
        margin: 5rem 0
        transform: scaleX(0)
        transition: transform .6s cubic-bezier(.215,.61,.355,1)
        --tw-opacity: 0.3
        background: $color-accent
        background: $gradient-green-blue
        &.is-inview
            transform: scaleX(1)

    .container

        &-doc
            margin-bottom: 5rem
            iframe
                width: 100%
                height: 80rem
                border-radius: 10px
                // border: 2px solid $color-text
                opacity: 0
                transform: translateY(7rem)
                transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
                &.is-inview
                    opacity: 1
                    transform: none

        &-text
            margin-bottom: 5rem
            display: flex
            column-gap: 5rem

            & > *
                opacity: 0
                transform: translateY(5rem)
                transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
                &.is-inview
                    opacity: 1
                    transform: none

            h2
                flex: 3

            p
                flex: 7
                // margin-left: 3rem
                line-height: 2
                transition-delay: .1s

                span.link-main
                    display: inline-flex
                    position: relative
                    align-items: center
                    --tw-opacity: .2
                    background: $gradient-green-blue
                    border-radius: 999px
                    padding: 1rem 2.4rem
                    cursor: pointer
                    color: $color-text
                    line-height: 1

                    &:hover
                        --tw-opacity: .25

                    & > ion-icon
                        width: 1.8rem
                        margin-left: .8rem
                        fill: $color-text

        &-img
            margin-bottom: 5rem
            display: grid
            column-gap: 1.6rem
            row-gap: 1.6rem

            &-two
                grid-template-columns: 1fr 1fr

            > .img-box
                height: 24rem
                position: relative
                background: #ccc
                border-radius: 10px
                overflow: hidden

                opacity: 0
                transform: translateY(5rem)
                transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
                &.is-inview
                    opacity: 1
                    transform: none

                .img
                    height: 100%
                    background-size: cover
        &-video
            display: grid
            grid-template-columns: 1fr 1fr
            column-gap: 2.6rem
            row-gap: 2.6rem

            &-block
                display: flex
                align-items: center
                video
                    border-radius: 10px
                    width: 100%
                    opacity: 0
                    transform: rotate(1.5deg) translateY(5rem)
                    transition: opacity .6s cubic-bezier(.215,.61,.355,1),transform .6s cubic-bezier(.215,.61,.355,1)
                    &.is-inview
                        opacity: 1
                        transform: none

@keyframes animated_text
    0%
        background-position: 0px 50%
    50%
        background-position: 100% 50%
    100%
        background-position: 0px 50%

@keyframes pill
    0%
        transform: translateY(0)
    60%
        transform: translateY(75%)
    100%
        transform: translateY(75%)

@keyframes star1_rotate
    0%
        transform: rotate(0)
    100%
        transform: rotate(360deg)

@keyframes star2_growth
    0%
        transform: scale(0.9)

    50%
        transform: scale(1.1)
    100%
        transform: scale(0.9)

@keyframes spark1_float
    0%
        transform: translate(1rem, 1rem)

    50%
        transform: translate(-1rem, -1rem)

    100%
        transform: translate(1rem, 1rem)
